*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
}


li, a, button{
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    background: rgba(51, 50, 50, 0.8);
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 30px 10px;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
    
}

.nav_links li a{
    transition: all 0.5s ease 0s;
    
}

.nav_links li a:hover{
    color: rgb(214, 95, 95);

}

.logo{
    width: 80px;
    height: auto;
    cursor: pointer;
}

button{
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
}

button:hover{
    background-color: rgba(0, 136, 169, 0);
}



body{
    background: url('bg.jpg') no-repeat top center;
    background-size: cover;
    height: 100vh;
   

}

.form-label{
    text-align: center;
    color: rgb(8, 8, 8);
    margin: 20px;
    text-transform: uppercase;
}

.wrapper{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
}

.contact-form{
    max-width: 550px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 5px;
    display: flex;
    box-shadow: 0 0 10px;
}

.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-fields, .msg{
    width: 48%;
}

.input-fields .input, .msg textarea{
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #c5ecfd;
    padding: 10px;
    color: #c5ecfd;
    width: 100%;
}

.msg textarea{
    height: 212px;
}

::-webkit-input-placeholder{
    color: #c5ecfd;
}

.btn{
    background: #39b7dd;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #555;
    cursor: pointer;
    text-transform: uppercase;
}

@media screen and (max-width: 600px){
    .contact-form{
        flex-direction: column;
    }
    .msg textarea{
        height: 80px;
    }
    .input-fields, .msg{
        width: 100%;
    }
}




























